@page "/product/create"

@using Core.Enums

<h3 class="mb-4 text-primary">Create Product</h3>
@rendermode InteractiveServer

<EditForm FormName="CreateProduct" OnValidSubmit="Submit" Model="ProductModel">
    <div class="container">
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label class="form-label">Product Name</label>
                <InputText class="form-control" @bind-Value="ProductModel.Name" />
                <ValidationMessage For="() => ProductModel.Name" class="text-danger" />
            </div>

            <div class="col-md-6">
                <label class="form-label" for="Category">Category</label>
                <InputSelect id="Category" class="form-select" @bind-Value="ProductModel.Category">
                    @foreach (var category in Enum.GetValues<ProductCategoryEnum>())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ProductModel.Category)" class="text-danger" />
            </div>

            <div class="col-md-6">
                <label class="form-label" for="Price">Price (₱)</label>
                <InputNumber id="Price" class="form-control" @bind-Value="ProductModel.Price" />
                <ValidationMessage For="@(() => ProductModel.Price)" class="text-danger" />
            </div>

            <div class="col-md-6">
                <label class="form-label" for="Quantity">Quantity</label>
                <InputNumber id="Quantity" class="form-control" @bind-Value="ProductModel.Quantity" />
                <ValidationMessage For="@(() => ProductModel.Quantity)" class="text-danger" />
            </div>
        </div>

        <div class="d-flex gap-2 mt-3">
            <a class="btn btn-secondary" href="/product">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</EditForm>
