@page "/product"

<h3>Barato Inventory</h3>

@if (ProductModels == null)
{
    <p>Loading...</p>
}
@* else if (ProductModels.Count == 0)
{
    <p>No products available.</p>
} *@
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductModels)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@($"₱{product.Price:N2}")</td>
                    <td>@product.Quantity</td>
                    <td>@product.CreatedAt.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="/product/update/@product.Id">Update</a>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
